html {
    background-color: rgb(138, 223, 27);
    font-family: 'Courier New', Courier, monospace;
    position: fixed;
}

h1 {
    background-color: rgb(70, 68, 237);
}

h2 {
    background-color: rgb(212, 33, 212);
    
}

p {
    position: static;
}